LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="YOUR_API_KEY"
LANGCHAIN_PROJECT="boardgame_rag"

OPENAI_API_KEY="YOUR_API_KEY"

ES_URL = "elasticsearch url"
ES_USER = "elasticsearch user"
ES_PW = "elasticsearch password"

COHERE_API_KEY="YOUR_API_KEY"